.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.graph {
    position: absolute;
    left: 1%;
    top: 9%;
    height: 88%;
    width: 98%;
    border: 1px solid #f3f3f3;
}

.row {
    padding: 4px;
    margin: 4px;
}

.span {
    margin-left: 8px;
    margin-right: 8px;
}